@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 400px !important;
  height: 600px !important;
  min-width: 400px !important;
  min-height: 600px !important;
  max-width: 400px !important;
  max-height: 600px !important;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 400px !important;
  height: 600px !important;
  min-width: 400px !important;
  min-height: 600px !important;
  max-width: 400px !important;
  max-height: 600px !important;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
